<div *ngIf="show$ | async as show">
	<mat-card id="show-card">
		<img
			mat-card-image
			[src]="show.imageUrl"
			onerror="this.src='https://www.poduzetnicki-inkubator-dnz.hr/images/image.php/no-image.png?width=600&height=400&cropratio=3:2&image=https://www.poduzetnicki-inkubator-dnz.hr/images/no-image.png'"
		/>
		<div class="container">
			<div>
				<mat-card-title>{{ show.title }}</mat-card-title>
				<app-show-rating class="show-rating" [rating]="show.averageRating"></app-show-rating>
			</div>

			<mat-card-content>
				<p>{{ show.description }}</p>
			</mat-card-content>
		</div>
	</mat-card>
	<p>Reviews</p>
	<app-review-form></app-review-form>
	<app-review-card [reviews]="show.reviews"></app-review-card>
</div>
