p {
    padding: 20px;
}

.show-rating {
    display: flex;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

mat-card-title{
    font-size:24px;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.review{
    width: 90%;
}