<mat-card class="show-card">
	<mat-card-header class="show-card-header">
		<mat-card-title>{{ currentShow.title }}</mat-card-title>
		<mat-card-subtitle id="rating"
			>Average rating:
			{{ currentShow.averageRating ? currentShow.averageRating : 'no ratings' }}</mat-card-subtitle
		>
		<mat-card-content>
			<p>{{ currentShow.description }}</p>
		</mat-card-content>
	</mat-card-header>
	<img
		mat-card-image
		id="image"
		[src]="currentShow.imageUrl"
		onerror="this.src='https://www.poduzetnicki-inkubator-dnz.hr/images/image.php/no-image.png?width=600&height=400&cropratio=3:2&image=https://www.poduzetnicki-inkubator-dnz.hr/images/no-image.png'"
	/>
</mat-card>
