<mat-card-header>
	<div mat-card-avatar class="show-header-image"></div>
	<mat-card-title>{{ show.title }}</mat-card-title>
	<app-show-rating class="show-rating" [rating]="show.average_rating"></app-show-rating>
</mat-card-header>
<img
	mat-card-image
	id="image"
	[src]="show.image_url"
	onerror="this.src='https://www.poduzetnicki-inkubator-dnz.hr/images/image.php/no-image.png?width=600&height=400&cropratio=3:2&image=https://www.poduzetnicki-inkubator-dnz.hr/images/no-image.png'"
/>
<mat-card-content id="description">
	<p>{{ show.description }}</p>
</mat-card-content>
