.image {
    height: 300px;
}

.show-rating {
    display: flex;
}

.show-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #371687;
}

p{
    max-width: 240px;
}

#show-card {
    margin: 10px;
    background-color: #F0F8FF;
    color: #371687;
    min-width: 240px;
    min-height: 375px;
    padding: 16px;
}
