<form [formGroup]="form">
	<mat-card>
		<img src="assets/logo/logo.svg" alt="App logo" />
		<mat-card-actions>
			<div class="container">
				<mat-form-field appearance="outline">
					<mat-icon matPrefix>person</mat-icon>
					<mat-label>Email</mat-label>
					<input matInput placeholder="Enter email" type="email" formControlName="email" />
				</mat-form-field>
			</div>
			<div class="container">
				<mat-form-field appearance="outline">
					<mat-icon matPrefix>lock</mat-icon>
					<mat-label>Password</mat-label>
					<input matInput placeholder="Enter password" type="password" formControlName="password" />
				</mat-form-field>
			</div>
		</mat-card-actions>

		<mat-card-actions>
			<button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onLoginClick($event)">
				Log in
			</button>
		</mat-card-actions>

		<p>
			Don't have an account? <b><a routerLink="/register">Register</a></b>
		</p>
	</mat-card>
</form>
