header {
    background-color: #E6E6FA;
}

.container {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}

.centered {
    margin: 0 auto;
    width: 800px;
}

h1 {
    margin-bottom: 0;
}