<mat-drawer-container class="main-container" autosize>
	<mat-drawer
		#drawer
		class="drawer"
		id="drawer"
		[mode]="isMobile ? 'over' : 'side'"
		[opened]="isOpened"
		[position]="isMobile ? 'end' : 'start'"
	>
		<img *ngIf="!isMobile" src="assets/logo/logo.svg" alt="App logo" />
		<div class="button">
			<button mat-icon-button *ngIf="isMobile" (click)="onToggleSideNav()">
				<mat-icon>cancel</mat-icon>
			</button>
		</div>
		<div class="container">
			<app-navigation></app-navigation>
			<button
				mat-button
				class="logout"
				color="primary"
				(click)="onLogoutClick($event)"
				[routerLinkActive]="'active'"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				Log out
			</button>
		</div>
	</mat-drawer>
	<mat-drawer-content>
		<div class="header">
			<img *ngIf="isMobile" src="assets/logo/logo.svg" alt="App logo" />
			<button mat-icon-button *ngIf="isMobile" (click)="onToggleSideNav()">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
