h2 {
    margin: 15px;
}

hr.rounded {
    border: solid #F0F8FF;
    border-radius: 5px;
}

.show-form {
    border-radius: 24px;
    height: min-content;
    width: min-content;
    background-color: #F0F8FF;
    margin: 15px auto;
    text-align: center;
}